# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
/dist

# VS Code workspace files
.vscode/*
!.vscode/extensions.json
.vs
*.code-workspace
.history/

# Local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite
dist
dist-ssr
*.local

# Project specific
.vs/
.vscode/
*.sqlite
*.json.user
copilot-chat/
CopilotIndices/
FileContentIndex/
v17/