@font-face {
  font-family: 'Terminal-Grotesque';
  src: url('./assets/fonts/Terminal-Grotesque.woff2') format('woff2'),
      url('./assets/fonts/Terminal-Grotesque.woff') format('woff');
}

:root {
  --bg-color: antiquewhite;
  --text-color: #000;
}

body {
  font-family: 'Terminal-Grotesque', Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  
}
