@font-face {
  font-family: 'Terminal-Grotesque';
  src:
    url('./assets/fonts/terminal-grotesque.woff2') format('woff2'),
    url('./assets/fonts/terminal-grotesque.woff') format('woff');
}

:root {
  --bg-color: antiquewhite;
  --text-color: #000;
}

.dark {
  --bg-color: #1b1b1b;
  --text-color: #ddd;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);

  font-family: 'Terminal Grotesque', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

header {
  text-align: center;
}

h1 {
  text-decoration: underline;
}
