@font-face {
    font-family: 'terminal-grotesque';
    src: url('../assets/Terminale-Grotesque-master/terminal-grotesque.ttf') format('ttf'), url('../assets/Terminale-Grotesque-master/terminal-grotesque_open.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Terminal Grotesque', Verdana, Geneva, Tahoma, sans-serif;
    background-color: antiquewhite;
        
}

h1 {
    text-align: center;
    text-decoration: underline;
}

h2 {
    text-align: center;
}


#main-stats {
    text-align: center;
}

.main-stats-box {
    padding: 3px;
}

#sub-stats {
    border: 2px dashed #aaa;
    max-width: fit-content;
    position: absolute;
}

.sub-stats-box {
    border: 1px dashed #ff6a00;
    max-width: fit-content;
}


.class-choice {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px;
}

    .class-choice img {
        width: 80px;
        height: auto;
    }

    .class-choice .choice:hover {
        box-shadow: 0 0 0px #000000;
        cursor: pointer;
    }

    .class-choice .choice:active {
        background-color: #C37500;
        opacity: 0.7 ;
        box-shadow: 0 0 0px #000000;
    }

.icon-container {
    display: none !important;
}

#Icon-gallery {
    text-align: center;
}


#Mastery-box {
    border-bottom: 5px solid #57b1dc;
}

#Class-icons {
    display: flex;
    flex-wrap: wrap; /* Allow images to wrap to the next line */
    gap: 10px; /* Space between images */
    padding: 10px;
    max-width: 80em; /* Maximum width for the container */
    margin: 0 auto;
    align-items: center; /* Center content vertically inside */
    justify-content: center;
}

#Fighter {
    background-color: rgba(255, 0, 0, 0.400);
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 50px;
}

#Mystic {
    background-color: rgba(0, 0, 255, 0.400);
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 50px;
}

#Bandit {
    background-color: rgba(0, 255, 0, 0.400);
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 50px;
}

img.icon {
    width: 55px;
    border-radius: 5px;
    height: auto;
    margin: 1rem;
    object-fit: contain;
    pointer-events: auto;
    cursor: pointer;
    transition: transform 0.2s;
}


.icon:hover {
    transform: scale(1.1);
}


.hotbar {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: #f1f1f1;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    width: 50%;
}

.hotbar-slot {
    width: 90px;
    height: 90px;
    border: 2px dashed #aaa;
    border-radius: 8px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}

.hotbar-slot img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


#Novice {
    position: relative;
    width: 45%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: #f1f1f1;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    flex-wrap: wrap;
    margin-top: 20px;
}

#Novice-box img {
    width: 80px;
    height: auto;

}

