body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.class-choice {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 50px;
}

    .class-choice img {
        width: 180px;
        height: auto;
    }

    .class-choice .choice:hover {
        box-shadow: 0 0 0px #000000;
        cursor: pointer;
    }

    .class-choice .choice:active {
        background-color: #C37500;
        opacity: 0.7 ;
        box-shadow: 0 0 0px #000000;
    }

.icon-container {
    display: none !important;
}

#Fighter-box {
    background-color: rgba(255, 0, 0, 0.400);
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 50px;
}

#Mystic-box {
    background-color: rgba(0, 0, 255, 0.400);
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 50px;
}

#Bandit-box {
    background-color: rgba(0, 255, 0, 0.400);
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 50px;
}

img.icon {
    width: 55px;
    border-radius: 5px;
    height: auto;
    margin: 1rem;
    object-fit: contain;
    pointer-events: auto;
    cursor: pointer;
    transition: transform 0.2s;
}


.icon:hover {
    transform: scale(1.1);
}


.hotbar {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: #f1f1f1;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    width: 50%;
}

.hotbar-slot {
    width: 90px;
    height: 90px;
    border: 2px dashed #aaa;
    border-radius: 8px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}

.hotbar-slot img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#Novice-box {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: #f1f1f1;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    /*Wrap to test with many icons*/
    flex-wrap: wrap;
    margin-top: 20px;
}

#Novice-box img {
    width: 90px;
    height: auto;

}

