.icon {
    image-rendering: pixelated;
    border-radius: 5px;
    margin: 0.5rem;
    cursor: pointer;
    transform-origin: center;
}

    .dragdropJSdragbox .icon:hover {
        transform: scale(1.1);
    }

.skillbar {
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: #f1f1f1;
    padding: 10px;
    max-width: 100%;
    border: 2px solid #ddd;
    border-radius: 8px;
}

.skillbar-slot {
    width: 60px;
    height: 60px;
    border: 2px dashed #aaa;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}

#Race-img {
    width: 60px;
    height: 60px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

#player-profile {
    display: flex;
    align-items: flex-start; /* aligns top edges */
    gap: 20px; /* spacing between text and box */
    padding: 10px;
    border: 1px solid #999999;
    background: var(--card-color) no-repeat scroll 10px 5px none;
    border-radius: 10px;
    height: 15rem;
    width: 35rem;
    margin: 40px auto;
    box-shadow: inset 1px 1px 0 rgba(255,255,255,.6);
}

.profile-text {
    flex: 1; /* takes remaining width */
    border: 1px solid #ccc;
    padding: 5px;
}


.profile.value {
    text-align: right;
    flex: 1; /* take remaining space */
}

.profile-row {
    display: flex;
    justify-content: space-between; /* label left, value right */
    margin-bottom: 0.5rem;
}

.profile-box {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee; /* placeholder bg */
    border-radius: 8px;
}

