#layout-container {
}

.display-element {
    display: grid;
    border: 2px solid #444;
    grid-template-columns: 1fr 1fr; /*element space*/
}

.skills-interaction {
    width: 80%;
}

.choice-selection {
    justify-items: center;
}

.player-profile {
    border: 1px solid #999999;
    background: var(--card-color) no-repeat scroll 10px 5px none;
    border-radius: 10px;
    height: 15rem;
    width: 35rem;
    margin: 40px auto;
    box-shadow: inset 1px 1px 0 rgba(255,255,255,.6);
}
